.background-red
{
	background-color:red;
}
.background-green
{
	background-color:green;
}
.ImgDimensions
{
	width: auto;
	height: 100px;
}

#hornav ul#hornavmenu {
    display: inline-flex;
    margin: 0 0 -6px;
    padding: 0px;
}

.mr-10
{
    margin-right: 10px;
}
.logo a 
{
    position: relative;
    top: 9px;
    display: block;
    z-index: 20;
}
.width-control 
{
    display: block;
    width: 80%;
    margin-right: 0;
}

.inputSizing 
{
    width: 100%;
    padding-left: 10;
    padding-right: 10;
}

.logintextPosition 
{
    display: flex;
}

.AlignCenter 
{
    margin : auto;
}

.titlePosition
{
    text-align: left;
    margin-top: 10;
}
.SubTitlePositionCenter
{
    text-align: center;
}
.marginTopForm
{
    margin-top: 1em;
}
.borderRadius
{
    border-radius: 3px;
}
.posRight
{
    float : right;
}

.posLeft
{
    float : left;
}
.line
{
    height : 30px;
    border-radius: 3px;
    border-color: #33747a;
    display: inline-table;
}
.divBorderComposition
{
    border-width: 1px;
    border-color: #33747a ;
}
.PosElementsActus
{
    display : flex;
    justify-content : flex-end;
}
.inputBorderComposition
{
    border-radius: 3px;
    border: 1px solid #313131;
}
#loginDiv {
    width: 100px;
    height: 70px;
    background-color: #313131;
    position: absolute;
    opacity: 1;
    display: none;
    margin-top: 55px;
    margin-left: 980px;
    color: white;
    justify-content: center;
}

#searchDiv {
    width: 1080px;
    background-color: #313131;
    position: absolute;
    opacity: 1;
    display: none;
    margin-top: 60px;
    color: black;
}
#search {
    width: 980px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#searchBar {
    width: 875px;
    border-radius: 7px;
}

.searchBar {
    width: 90.5%;
    border-radius: 7px;
}

#searchSubmit {
    margin-left: 15px;
    border-radius: 7px;
}

.searchFiltre {
    display: flex;
    justify-content: space-between;
}

.filtre {
    border-radius: 7px;
    width: 120px;
    height: 30px;
}

#imgLogin {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#gmap {
    margin-top: 50 vh;
    transform: translateY(+10.5%);
    border: 1px solid #33747a;
    
}

#myCarousel {
    height: 300px;
    width: 740px;
}

#carousel-inner img {
    height: 300px;
    width: 740px;
}

#profil {
    background-image: IMG/monnaie.png;
}

#stat {
    margin-bottom: 20px;
}

#label {
    display: flex;
    justify-content: space-around;
    margin-left: -60px;
}


#inline {
    display: inline-block;
    justify-content: space-around;
}
#pannelBouton{
    display: inline-flex;
    justify-content: center;
}
#center{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

#listeAdherent{
    display:flex;
}

#unAdherent img{
    width:80px;
    width:80px;
}

.well #unAdherent{
    max-width:100px;
    max-width:100px;
    margin-right:10px;
}

legend {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

fieldset {
    padding-bottom: 5px;
}



.perso {
    font-size: 16px;
}

.borderperso {
    border: 1px solid #33747a;
    border-radius: 5px;
}

h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 16px;
}

h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 14px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
}

.idflocon {
    width: 20px;
    height: 20px;
}

.centrerElementVertical {
    display: flex;
    align-items: center;
}

.centrerElementHorizontal {
    display: flex;
    justify-content: center;
}

.imageIcone {
    width: 80px;
    height: 100px;
}

.background-inactif {
    background-color: #75787a;
}
.margin-left
{
    margin-left: 85px;
}
.SiteBreadcrumb {

  margin : 0;
}

.caracteristiques-rappel
{

    padding: 3px 10px;
    font-size: 12px;
    background: #f4f4f4;
    margin: 10px 10px 10px 10px;
    /*margin: 0 auto;*/
}



.commentaires-panel{
    margin: 5px;
    max-width: 510px;;
}

.btn-echange {
    color: #ffffff;
    background-color: #27595d;
    border-color: #193a3d;
}
.btn-envoyer-msg{
    color: #ffffff;
    background-color: #27595d;
    border-color: #193a3d;
    margin-bottom: 25px;
    
}

.petite-img{
    
    max-width: 100px;
    max-height: 90px;

}
.div-petite-img{
    align-content: center;
    max-height: 120px;
    max-width: 130px;     
}

.div-grande-img{
    margin-bottom: 0px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    
}
.recent-posts{
    /*Organiser le container : mettre le titre au dessus, les liens vers objets similaires en ligne (plus en colonne) en dessous */
    display: inline;

}

.blog-tags {
    list-style: none;
    margin: 10px 0 5px;
    overflow: hidden;
    border: 3px;
    border-bottom-color: #161616;
    border-color: #161616;
    border-width: 3px;
    padding: 0;
}
.blog-tags li {
    display: flex;
    border: 1px;
    border-color: #F4F4F4;
    float: left;
}
.blog-tag {
    background: #F4F4F4;
    border-radius: 3px 0 0 3px;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 25px 0 10px;
    position: relative;
    margin: 0 7px 7px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.15) inset;
}
.blog-tag::before {
    background: #b3b3b3;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    right: 10px;
    position: absolute;
    width: 6px;
    top: 8px;
}
.blog-tag::after {
    background: #FFF;
    border-bottom: 11px solid transparent;
    border-left: 10px solid #F4F4F4;
    border-top: 11px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
.blog-tag:hover {
    background-color: #7dc2c9;
    color: white;
}
.blog-tag:hover::after {
    border-left-color: #7dc2c9;
}

.justifier{
    text-align: justify;
    text-justify: inter-word;
}


.panel-default img {
    height: 45px;
    width: 60px;
}

.panel-default .panel-heading {
    background: #313131;
    color: #fff;
}

.panel-info .panel-heading {
    background: #313131;
    color: #fff;
}

.btn btn-info-lg {
    background: IMG/email.png
}



.col-lg-8 {
    padding: 10px;
}

.col-lg-2 panel-default {
    height: 600px;
    width: 170px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.col-lg-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col-lg-2 button {
    margin: 2px;
    height: 100px;
    width: 100px;
}



.one,
.two,
.three,
.four {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: solid;
}

.T1 {
    left: 25%;
}

.T2 {
    left: 45%;
}

.T3 {
    left: 65%;
}

.T4 {
    left: 85%;
}

.B1{
    left: 25%;
    margin-top: -10px;
}
.B2{
    left: 40%;
    margin-top: -10px;
}
.B3{
    left: 57%;
    margin-top: -10px;
}
.B4{
    left: 72%;
    margin-top: -10px;
}



.primary-color {
    background-color: #4989bd;
}

.success-color {
    background-color: #5cb85c;
}

.annule-color{
	background-color: #c0c0c0;
}

.danger-color {
    background-color: #d9534f;
}

.warning-color {
    background-color: #f0ad4e;
}

.info-color {
    background-color: #5bc0de;
}

.no-color {
    background-color: inherit;
}

.progress {

}

.progress1{
    width: 800px;
}

.progress2{
    width: 1000px
}


.containerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerBar img {
    max-height: 45px;
    max-width: 60px;
}



.boutons {
    display: flex;
    justify-content: space-around;
}

.btn-group button {
    max-width: 80px;
    max-height: 40px;
}

.boutons-en-dur {
    display: flex;
    justify-content: space-around;
}





.thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #33747a;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.petite-img{
    display: block;
    max-width: 100px;
    max-height: 90px;

}
.div-petite-img{
    align-content: center;
    margin: 1px;
    max-height: 120px;
    max-width: 130px;

}


.div-grande-img{
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;

}


.rechercheAdherents{
    display:flex;

    justify-content: space-between;
}

.boutonsRechercheAdherent{
    margin-bottom:10px;
}




.boutonsRadier{
    display:flex;
    justify-content:flex-end;
}

.boutonsRadier button{
    margin-left:10px;
}


#divNotifs{
width: 200px;
min-height: 50px;
position: absolute;
opacity: 1;
display: none;
margin-top: 60px;
margin-left: 880px;
justify-content: center;
text-decoration: none;
padding: 5px;
background-color: #313131;
}
div.divNotif:hover{
background-color: #33747a;
}
.divNotif{
color: white;
}

.padding-5 {
    padding: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}
.padding-left-10 {
    padding-left: 10px;
}

.margin-right-5{
    margin-right: 5px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-30
{
	margin-left: 30px;
}

.table-bordered {
    border: 1px solid #33747a;
}
.muted{
    color: #999999;
}

.background-color-event{
    background-color: #1b891f;
    color: #ffffff; 
}

.customAlign{
    display: block;
    /*float: right;*/
    text-align: center;
}

.boutonsSelect {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}

.btn-groupFavo button {
    float: left;
    max-width: 80px;
    max-height: 40px;
}

.favorisTittleObj {
    border-radius: 5px;
    text-align: center;
    margin-left: 420px;
    margin-bottom: 15px;
}

.favorisTittleRch {
    border-radius: 5px;
    text-align: center;
    margin-left: 420px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.btnSeCo{
	width: 100px;
}
.fixeTaille
{
	min-height: 621px;
}

#star:active{
 color: yellow;
}

#map{
	  height: 450px;
	  width: 450px;
	
}

.progress-bar-annule {
  background-color: #c0c0c0;
}

.no-color2{
	background-color: white;
}

.bootstrap-datetimepicker-widget{
	background-color: white;
}


